
<h1>Teacher: <%= @teacher.username %></h1>

<ul>
    
    <% @teacher.students.each do |student| %>
        
        <ul>
            <li><%= student.username %></li>
            <% if student.grades.count > 0 %>
                <ul>

                    <% student.grades.each do |grade| %>
                        <li><%= grade.test.title %>: <%= grade.score %>%</li>
                    <% end %>

                </ul>
            <% else %>
                <ul>
                    <li>This student does not have any graded tests</li>
                </ul>
            <% end %>
        </ul>
    
    <% end %>

</ul>