
<h3>Student Login</h3>

<form class="form" action="/students/login" method="POST">
<label for="username">Username
    <input id="username" type="text" name="username" value="">
</label>
<label for="password">Password
    <input id="password" type="password" name="password" value="">
</label>
<br>
<input type="submit" value="Login">
</form>