<h1>Student Signup</h1>

<form action="/students/signup" method="POST">

    <input type="text" id="username" placeholder="username" name="username">

    <br>
    
    <input type="email" id="email" placeholder="email" name="email">
    
    <br>
    
    <input type="password" id="password" placeholder="password" name="password">
    

    <h3>Select a teacher:</h3>

    <% Teacher.all.each do |teacher| %>

        <input type="radio" name="teacher_id" value="<%= teacher.id %>"><%= teacher.username %></input>
        <br>
    <% end %>   

    <input type="submit" value="Singup">

</form>