
body {
    background-color: whitesmoke;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;

    max-width: 1200px;
    margin: 0 auto;

    background-color: rgb(48, 172, 255);
    text-align: center;

    padding: 5px 0;

    border-radius: 10px;
}

.nav-btn {
    text-align: center;
    border-radius: 10px;
    border: none;
    height: 50px;
    width:90%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 150%;

    background-color: rgba(255, 255, 255, 0);
}

.nav-btn:hover {
    background-color: whitesmoke;
    border: 1px solid black;
}