
body {
    background-color: rgb(80, 115, 155);
}

.app {
    max-width: 500px;
    margin: 0 auto;
}

.err-msg {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: rgb(255, 70, 70);
}

.banner {

    text-align: center;
    padding: 20px 0 0 0;
    width: 100%;

    background-color: whitesmoke;
    box-shadow: 5px 5px 10px rgb(61, 61, 61); 

    border: 2px solid rgb(83, 83, 83);
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.banner-info h5 {
    margin-top: 0;
}

.banner-info h6 {
    margin-top: -20px;
}

.nav-btn input {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(54, 181, 255);
    border-radius: 8px;
    padding: 5px;
}


input[type="submit"] {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(54, 181, 255);
    border-radius: 8px;
    padding: 5px;
}

input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.content {
    background-color: whitesmoke;
    padding:0 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(61, 61, 61); 
}

input {
    margin: 5px;
}





