
body {
    background-color: rgb(97, 97, 97);
}

.app {
    max-width: 500px;
    margin: 0 auto;

}

.banner {

    text-align: center;
    padding: 20px 0 0 0;
    width: 100%;

    background-color: whitesmoke;
    box-shadow: 5px 5px 10px rgb(61, 61, 61); 

    border: 2px solid grey;
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.banner-info h5 {
    margin-top: 0;
}

.banner-info h6 {
    margin-top: -20px;
}

.nav-btn input {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(54, 181, 255);
    border-radius: 8px;
    padding: 5px;
}

.nav-btn input:hover {
    background-color: rgba(0, 0, 0, 0.15);
}





