
<h3>Teacher Login</h3>

<form class="form" action="/teachers/login" method="POST">
    <input id="username" type="text" name="username" placeholder="username" value="">
    <input id="password" type="password" name="password" placeholder="password" value="">
    <br>
    <input type="submit" value="Login">
</form>