
<h1>Teacher Signup</h1>

<form action="/teachers/signup" method="POST">

    <input type="text" id="username" placeholder="username" name="username">

    <br>

    <input type="email" id="email" placeholder="email" name="email">

    <br>

    <input type="password" id="password" placeholder="password" name="password">
    <br>
    <input type="submit" value="Singup">

</form>