
<h1>Teacher Signup</h1>

<form action="/teachers/signup" method="POST">

    <label for="username">
        Username:
        <input type="text" id="username" name="username">
    </label>

    <br>
    
    <label for="email">
        Email:
        <input type="email" id="email" name="email">
    </label>
    
    <br>
    
    <label for="password">
        Password:
        <input type="password" id="password" name="password">
    </label>
    <br>
    <input type="submit" value="Singup">

</form>