
<h1>Welcome!</h1>

<h3>Are you a student or a Teacher?</h3>

<form action="/students/login" method="GET">

    <input type="submit" value="Login as a Student">

</form>

<form action="/teachers/login" method="GET">

    <input type="submit" value="Login as a Teacher">

</form>

<p>New to the learning portal?</p>
<p>Sign up <a href="signup">here</a></p>   