<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <title>Portal</title>
</head>
<body>
    <% if logged_in? %>
            <form action="/" method="GET">
                <input type="submit" value="Your Profile">
            </form>
            <form action="/logout" method="POST">
                <input type="submit" value="Logout">
            </form>
    <% end %>

    <% if session[:error] != nil %>
        <h3 class="error-msg"><%= session[:error] %></h3>
        <% session[:error] = nil %>
    <% end %>

    <%= yield %>



</body>
</html>