
<h3>Would you like to signup as a teacher or a student?</h3>

<form action="/students/signup" method="GET">
    <input type="submit" value="Student Signup">
</form>

<form action="/teachers/signup" method="GET">
    <input type="submit" value="Teacher Signup">
</form>

